<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.color_scheme "Dark"}} class="dark-mode"{{/match}}{{#match @custom.color_scheme "Auto"}} class="auto-color"{{/match}}>
<head>
    {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PB9PNGV');</script>
    <!-- End Google Tag Manager -->
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    {{ghost_head}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <!-- load all Font Awesome styles -->
    <link rel="preload" href="{{asset "fontawesome/css/all.css"}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{asset "fontawesome/css/all.css"}}"></noscript>
</head>
<body class="{{body_class}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Modern sans-serif"}} has-sans-body{{/match}}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PB9PNGV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header id="gh-head" class="gh-head{{#match @custom.publication_cover_style "!=" "None"}} has-cover{{/match}}">
    <nav class="gh-head-inner inner gh-container">
        <div class="gh-head-menu">
            <ul class="nav">
                <li class="nav-google-ads"><a href="/ecommerce-ppc-consultant/">PPC</a></li>
                <li class="nav-google-ads"><a href="/google-shopping-feed-optimisation/">Shopping</a></li>
                <li class="nav-email"><a href="/ecommerce-growth-consultant/">Ecommerce</a></li>
                <li class="nav-cro"><a href="/conversion-rate-optimisation/">CRO</a></li>
                <li class="nav-email"><a href="/email-marketing/">Email</a></li>
            </ul>
        </div>  
        <div class="gh-head-brand">
            <a class="gh-head-logo" href="{{@site.url}}">
                <img src="{{@site.logo}}" alt="{{@site.title}}" />
            </a>
            <a class="gh-burger" role="button">
                <div class="gh-burger-box">
                    <div class="gh-burger-inner"></div>
                </div>
            </a>
        </div>
        <div class="gh-head-menu right">
            <ul class="nav">                   
                
                <li class="nav-about"><a href="/about/">About</a></li>
                <li class="nav-contact"><a href="/contact/">Contact</a></li>
                <li class="nav-contact"><a href="/book/">Free Site Audit</a></li>
                <li class="nav-linkedin"><a href="https://www.linkedin.com/in/sebastien-day/" title="Linkedin Profile" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </nav>
</header>


{{{body}}}
    
<section class="section blue" id="contact-form">
    <div class="outer">
        <div class="gh-canvas">
            <div class="kg-card contact-intro">
                <figure><img src="/content/images/posts/scientist.webp" alt="ecommerce conversion science" width="500" height="500"></figure>
                <section class="content">
                    <h2>Get a free digital audit</h2>
                    <p>See how I can help grow your ecommerce business - I will audit your website, PPC and marketing and provide a free report with actionable insights. <br /> <a href="/book/"><i class="fa-solid fa-calendar-days"></i> Prefer to book a meeting?</a> </p>
                </section>
            </div>
            <div class="contact-form-outer">
                <form id="footer_form" class="contact-form" action="https://formspree.io/f/mlezlzab" method="post">
                    <input type="hidden" name="_subject" id="email-subject" value="day.marketing enquiry">
                    <div class="outer">
                        <div class="inner">
                            <div class="form-block">
                                <label for="full-name">Name</label>
                                <input type="text" class="field" name="name" id="full-name" required>
                            </div>
                            <div class="form-block">
                                <label for="email-address">Email</label>
                                <input type="email" class="field" name="_replyto" id="email-address" required>
                            </div>
                            <div class="form-block">
                                <label for="telephone">Phone Number</label>
                                <input type="telephone" class="field" name="telephone" id="telephone">
                            </div>
                        </div>
                        <div class="inner">
                            <div class="form-block textarea">
                                <label for="message">Message</label>
                                <textarea id="message" class="field" name="message" maxlength="5000" data-name="message"></textarea>
                            </div>
                        </div>
                        <div class="inner form-checkboxes">
                            <div class="form-checkbox">
                                <label>
                                    <input type="checkbox" id="adwords" name="adwords" data-name="adwords" class="">
                                    <span for="adwords">PPC</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <label>
                                    <input type="checkbox" id="ecommerce" name="ecommerce" data-name="ecommerce" class="">
                                    <span for="ecommerce">Ecommerce</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <label>
                                    <input type="checkbox" id="cro" name="cro" data-name="cro" class="">
                                    <span for="cro">Conversion</span>
                                </label>
                            </div>
                            <div class="form-checkbox">
                                <label>
                                    <input type="checkbox" id="email_marketing" name="email_marketing" data-name="email_marketing" class="">
                                    <span for="email_marketing">Email</span>
                                </label>
                            </div>
                        </div>
                        <div class="inner">
                            <button type="submit" class="form-submit" name="submit" value="submit">Let's talk <i class="fas fa-comment-dots"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="section dark" id="footer">
    <footer class="site-footer">
        <div class="outer">
            <div class="inner">
                <a class="gh-head-logo" href="{{@site.url}}">
                    <img src="{{@site.logo}}" alt="{{@site.title}}" />
                </a>
                <address>
                    <ul>
                        <li>{{> "icons/phone-volume"}}07518 268 156</li>
                        <li>{{> "icons/at"}}<a href="mailto:seb@day.marketing" target="_blank">seb@day.marketing</a></li>
                        <li class="flexy">{{> "icons/map-location"}}<p>Day Marketing<br /><span>Derwent Business Centre,<br />Derby, DE1 2BU</span></p></li>
                    </ul>
                </address>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/sebastien-day/" title="LinkedIn Profile"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://www.facebook.com/" title="Facebook Profile"><i class="fa-brands fa-facebook"></i></a> 
                    <a href="https://www.instagram.com/" title="Instagram Profile"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.twitter.com/" title="Twitter Profile"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
            <div class="inner links">
                <div class="tech-stack">
                    <h2>I ❤️ cutting edge tech</h2> 
                    <ul>
                        <li>{{> "icons/google-ads"}}ads</li>
                        <li>{{> "icons/google-analytics"}}analytics</li>
                        <li>{{> "icons/google-data-studio"}}data</li>
                        <li>{{> "icons/google-optimize"}}optimise</li>
                        <li>{{> "icons/magento"}}magento</li>
                        <li>{{> "icons/ghost"}}ghost</li>
                        <li>{{> "icons/klaviyo"}}klaviyo</li>
                        <li>{{> "icons/gorgias"}}gorgias</li>
                        <li>{{> "icons/php"}}php8</li>
                        <li>{{> "icons/javascript"}}javascript</li>
                        <li>{{> "icons/html"}}html5</li>
                        <li>{{> "icons/css"}}css3</li>
                    </ul>
                </div>
            </div>
            <nav class="site-footer-nav">
                {{navigation type="secondary"}}
            </nav>
            <section class="copyright">&copy; {{date format="YYYY"}} Day Marketing is a trading name of Day Digital Marketing Ltd. Company No: 14182222.</section>
            <section class="built-by">Built by seb with <i class="fa-solid fa-heart"></i> and powered by <a href="https://github.com/sebday/day.marketing-casper" rel="noopener noreferrer nofollow" target="_blank">Ghost.</a>
        </div>
    </footer>
</section>

{{!-- Scripts - handle member signups, responsive videos, infinite scroll, floating headers, and galleries --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{asset "built/casper.js"}}"></script>
<script>
    $(document).ready(function () {
        // Mobile Menu Trigger
        $('.gh-burger').click(function () {
            $('body').toggleClass('gh-head-open');
        });
        // FitVids - Makes video embeds responsive
        $(".gh-content").fitVids();        
    });
</script>

<script>
    // Hide Header on on scroll down
    var didScroll;
    var lastScrollTop = 0;
    var delta = 5;
    var navbarHeight = $('#gh-head').outerHeight();

    $(window).scroll(function(event){
        didScroll = true;
    });

    setInterval(function() {
        if (didScroll) {
            hasScrolled();
            didScroll = false;
        }
    }, 250);

    function hasScrolled() {
        var st = $(this).scrollTop();
        
        // Make sure they scroll more than delta
        if(Math.abs(lastScrollTop - st) <= delta)
            return;
        
        // If they scrolled down and are past the navbar, add class .nav-up.
        // This is necessary so you never see what is "behind" the navbar.
        if (st > lastScrollTop && st > navbarHeight){
            // Scroll Down
            $('#gh-head').removeClass('nav-down').removeClass('nav-top').addClass('nav-up');
        } else {
            // Scroll Up
            if(st + $(window).height() < $(document).height()) {
                $('#gh-head').removeClass('nav-up').addClass('nav-down');
            }
        }

        if($(window).scrollTop() < 10) {
             $('#gh-head').removeClass('nav-up').removeClass('nav-down').addClass('nav-top');
        }
        
        lastScrollTop = st;
    }
</script>

{{#match @site.url "https://day.marketing"}}
    <!-- Start of Woopra Code -->
    <script>
    !function(){var t,o,c,e=window,n=document,r=arguments,a="script",i=["call","cancelAction","config","identify","push","track","trackClick","trackForm","update","visit"],s=function(){var t,o=this,c=function(t){o[t]=function(){return o._e.push([t].concat(Array.prototype.slice.call(arguments,0))),o}};for(o._e=[],t=0;t<i.length;t++)c(i[t])};for(e.__woo=e.__woo||{},t=0;t<r.length;t++)e.__woo[r[t]]=e[r[t]]=e[r[t]]||new s;(o=n.createElement(a)).async=1,o.src="https://static.woopra.com/js/w.js",(c=n.getElementsByTagName(a)[0]).parentNode.insertBefore(o,c)}("woopra");

    woopra.config({
        domain: "day.marketing",
        outgoing_tracking: true,
        download_tracking: true,
        click_tracking: true
    });
    woopra.track();
    </script>
    <!-- End of Woopra Code -->
    
{{/match}}

{{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>
