{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<section class="section" id="home">
    <div class="site-header-content">
        
        {{#if @site.cover_image}}
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="site-header-cover"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                        {{img_url @site.cover_image size="l"}} 1000w,
                        {{img_url @site.cover_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url @site.cover_image size="xl"}}"
                alt=""
            />
        {{/if}}
        <div class="outer">
            <div class="inner">
                <h2>Hi, I'm Sebastien</h2>
                <h1>eCommerce & PPC Consultant</h1>
                <section class="excerpt">I spent 16 years as CTO at SGS helping them grow to a <strong>£31 million turnover</strong> leading e-commerce retailer -  now I can grow your business too.</section>
                <div class="button cta-button">
                    <a href="/contact/" class="post-button">book a free audit {{> "icons/comment-dots"}}</a>
                </div>
                <div class="scroll-outer"><div class="scroll-icon-wrapper"><div class="scroll-icon"></div></div></div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="services">
    <div class="outer">
        <div class="inner posts">
            <div class="section-header"><h2>Digital Marketing Services</h2></div>
            <div class="post-feed">
                {{#get "posts" include="tags,authors" filter="tags:[hash-agency]" limit="all" }}
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                {{/get}}           
                
            </div>
        </div>
    </div>
</section>

<section class="section" id="about">
    <div class="outer">
        <div class="inner twocolumns">

            <div class="column">
                <div class="content">  
                    <div class="icon-header"><h2>About Me</h2></div>
                    <h4>Geek since 1992</h4>
                    <figure class="kg-image-card"><img src="https://day.marketing/content/images/staff/seb.webp" class="kg-image" alt="" loading="lazy" width="500" height="500"></figure>
                    <ul id="achievements" class="cert-links">
                        <li>
                            <a target="blank" href="https://traktion.ai/p/m/sebastian-day">
                                <figure class="kg-image-card"><img src="/content/images/posts/traktion.webp" class="kg-image" alt="Traktion logo" loading="lazy" width="75" height="75"></figure>
                                <h5>Traktion Certified Professional</h5>
                                <span>Issued Jul 2022</span>
                                <button>Show credential <i class="fa-solid fa-arrow-up-right-from-square"></i></button>
                            </a>
                        </li>
                        <li>
                            <a target="blank" href="https://skillshop.exceedlms.com/student/award/UwodewvNt76zEu1SMEEbxd3N">
                                <figure class="kg-image-card"><img src="/content/images/posts/googleadslogo.webp" class="kg-image" alt="Google Ads logo" loading="lazy" width="75" height="75"></figure>
                                <h5>Shopping Ads Certification </h5>
                                <span>Issued Jul 2022</span>
                                <button>Show credential <i class="fa-solid fa-arrow-up-right-from-square"></i></button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="column">
                <div class="content">      
                    <div class="icon-header"><h2>A Brief Intro</h2></div>
                    <p>I worked as CTO at SGS Engineering for 16 years helping them grow to £31 million turnover in 2021. Heading up all things digital including developing the Magento website, managing email marketing and procuring products.</p>

                    <p><a href="/about">Read more about me</a> and my work at SGS and follow an ecommerce site over a decade.</p>
                    
                    <p>In June 2022 I founded my own consulting company to help other ecommerce businesses grow.</p>
                    <p>My lifelong passion for computing coupled with the experience of being on the frontline, building an ecommerce business, has given me a great depth of knowledge. 
                        I have the experience to help not only with your Google Ads account but with all aspects of ecommerce.</p>
                    <ul class="pretty-list">
                        <li>Deep technical understanding in many subjects</li>
                        <li>Managed a large AdWords account from 2006</li>
                        <li>Built multiple Magento e-commerce stores</li>
                        <li>Built automated email marketing</li>
                        <li>Ran on-prem and cloud servers</li>
                        <li>Procured Milwaukee power tools</li>
                        <li>Implemented ERP &amp; WHM systems</li>
                        <li>Built company wide realtime dashboard</li>
                        <li>Raised a small dog that only bites the odd ankle</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
